.inner {
	padding-left: 16px;
	padding-right: 16px;
}

.wrapper {
	max-width: 100%;

	@include small {
		max-width: 960px;
		margin: 0 auto;
		padding-left: 16px;
		padding-right: 16px;		
	}

	&.first {
		margin-top: $mobile-appbar-height + $panel-margin;
	}
}

/* */