.inner {
	padding-left: 16px;
	padding-right: 16px;
}

.wrapper {

	background-color: $color-white;

	max-width: 100%;

	@include small {
		max-width: 500px;
		margin: 0 auto;
//		padding-left: 16px;
//		padding-right: 16px;
	}

	&.first {
		margin-top: $mobile-appbar-height + $panel-margin;
	}
}

/* */