$list-text-padding: 16px;
$list-padding-top: 8px;



.list-separator {
	@include color-list-separator();
	height: 1px;
}

.list-item {	
	//@extend .shadow-z-1;
	display: block;
	background-color: $color-white;
	padding: 8px 16px;
//		background-color: $color-white;
}

.list-item:hover {
	//@include color-list-hover();
}

.list-text {
	padding: 8px 0;
}	

.list-icon {
	float: left;
	width: 40px;
	height: 40px;
	
	background-color: red;
}

.list-circle {
	position: relative;
	float: left;
	width: 40px;
	margin-right: 16px;
	padding: 20px 0;
	line-height: 0;
	border-radius: 50%;
	text-align: center;		
	

	font-size: 8px;

	background: $color-blue;
	color: $color-white;
	
}

/**
 * CODEPEN
 *
 */




.submenu {
	transform: translateY(60px);
	opacity: 0;
	transition: all .4s linear;	
}

.submenu-visible {
	
	.appbar {
		transform: translateY(-53px);
		transition: all .4s linear;	
	}

	> a {
		transition: all 0.3s linear;	

		&:not(.has-submenu) {
			transform: translateY(40px);
			opacity:0;
		}			

		&.has-submenu {

			.submenu {
				transform: translateY(0);
				opacity: 1;
			}
		}
	}
}




.details {
	transform: translateY(60px);
	opacity: 0;
	transition: all .4s linear;	
}

.details-visible {
	
	.appbar {
		transform: translateY(-53px);
		transition: all .4s linear;	
	}

	> a a {	
		transition: all 0.3s linear;
		&:not(.has-details) {
			transform: translateY(40px);
			opacity:0;
		}			

		&.has-details {

			.details {
				transform: translateY(0);
				opacity: 1;
			}
		}
	}
}

