.list-item {
    @include border-bottom-line();
    cursor: pointer;
    display: block;
    opacity: 1;
//    background-color: $color-white;

    &.active-menu-item {
        background-color: $color-yellow-halfandhalf;        
    }

    .no-touch &:hover {
            background-color: $color-yellow-halfandhalf;
    }

    @include medium {
        border-bottom: none;
    }

}


.list-item-text {
    cursor: inherit;
    @extend .typo-list;
    padding: 14px 16px;
}

.list-item-icon {
    float: right;
    margin: 0 16px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: $color-gray-temp2;

    .medicon {
        line-height: 48px;
    }
}



.list-item.item-0 {
    margin-top: 8px;
}