.meta-navigation {

	width: 60%;
	margin: 100px auto 0 auto;

	ul {
		border: 1px solid rgba(0, 0, 0, 0.12);
		list-style-type: none;
		padding: 0;
	}

	li {
		list-style-type: none;
	}

	a, 
	a:visited {
//		@include text-color-primary();
    	color: rgba(0, 0, 0, 0.57);
	}

	a {
		color: rgba(0, 0, 0, 0.57);
		display: block;
		padding: 0.5em 1em;
		
		transition: background-color 250ms;		
	}

	.no-touch & a:hover {
		background-color: rgba(0, 0, 0, 0.12);
	}
}